body {
	padding: 50px;
}

.half {
	width: 50vh;
}

.half-plus-half {
	width: 90vh;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-center {
	text-align: center;
}

.link-wrapper {
	margin-top: 10px;
}

.link {
	font-size: 14px;
}

/* logo */

.logo-container {
	margin-bottom: 50px;
	text-align: center;
}

.logo-initials {
	font-family: 'Montserrat', sans-serif;
}

footer {
	padding: 25px;
}

/* tabela */

.tr-hover {
	background: #2ecc71;
	font-weight: 500;
	cursor: pointer;
}

th, td {
	text-align: center;
}

td:first-child, th:first-child {
	display: none;
}

/* icones */
a {
	color: #bbb;
}

.icone-visualizar:hover{
	color: #3498db;
}

.icone-editar:hover{
	color: #f39c12;
}

.icone-remover:hover {
	color: #e74c3c;
}

#logout{
	float: right;
	position: absolute;
	top: 0;
	right: 0;
}

#adicionar{
	float: right;
	color: #2ecc71;
	font-size: 2em;
}

#hamburguer{
	position: relative;
	float: left;
	margin-top: -150px;
	cursor: pointer;
}