body {
	padding: 50px;
}

.half {
	width: 50vh;
}

.half-plus-half {
	width: 90vh;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-center {
	text-align: center;
}

.link-wrapper {
	margin-top: 10px;
}

.link {
	font-size: 14px;
}

/* logo */

.logo-container {
	margin-bottom: 50px;
	text-align: center;
}

.logo-main {
	font-family: 'Montserrat', sans-serif;
}

.logo-sub {
	font-weight: 300;
	font-style: italic;
}

footer {
	padding: 25px;
}