@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100');

body {
	padding: 50px;
}

.half {
	width: 50vh;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-center {
	text-align: center;
}

/* logo */

.logo {
	font-family: 'Roboto Slab', serif;
	margin-bottom: 50px;
}

.fadein {
    opacity: 0;
    -moz-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
}

.loaded {
    opacity: 1 !important;
}